h2 {
    color: #d1d1d1
}

.centertotal {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  width: 50%;
  height: 50%;
  min-width: 200px;
  max-width: 400px;
  padding: 40px;
}

.welcome {
    font-size: 44px;
}

.reviewbar {
    font-weight: bolder;
    font-size: 16px;
    position: relative;
    right: 50px;
    cursor: pointer;
}

#footerstyle {
    width: 394px;
}
