<div ui-view="header"></div>

<div class="col-md-4">
    <div ng-show="reviews.length">
        <ul>
            <l1 ng-repeat="item in reviews">
                <a class="reviewbar">{{ item.title }}</a><br>
                <!-- <div class="container" ng-controller="AttendanceCtrl">
                    <div ng-hide="item.attendance">
                        <button type="button" ng-click="addStudentIsPresent(item)" class="btn btn-success">I'm here</button>
                    </div>
                    <div ng-hide="!item.attendance">
                        <button type="button" ng-click="addStudentIsGone(item)" class="btn btn-warning">I'm gone</button>
                    </div>
                </div> -->
            </li>
        </ul>
    </div>
</div>
